.section {
  color: #fff;
}
.section .title {
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 0;
}
.scroll {
  display: flex;
  align-items: flex-start;
  margin: 0 1rem;
  overflow-x: scroll;
}
.scroll::-webkit-scrollbar {
  display: none;
}
