.section {
  color: #fff;
}
.head {
  margin: 0 1.5rem;
  /* margin-left: 1.5rem;
  margin-bottom: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scroll {
  display: flex;
  align-items: flex-start;
  margin: 0 1rem;
  overflow-x: scroll;
}
.scroll::-webkit-scrollbar {
  display: none;
}
