.header {
  height: 3.5rem;
  width: 100%;
  position: fixed;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: black;
}

.logo {
  width: 100px;
}

.navigation {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.1rem;
  height: 1.7rem;
}

.searchbar {
  width: 75%;
  text-align: right;
  padding-right: 2.5rem;
}

.searchbar input, button {
  font-size: 1rem;
  background-color: black;
  color: #fff;
  padding: 8px;
}

.searchbar input {
  border-radius: 8px 0 0 8px;
  width: 25%;
  outline: 0;
  border-right: none;
}

.searchbar button {
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  border-left: none;
}

@media screen and (max-width: 500px) {
  .header {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .navigation {
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: center; */
    width: 95%;
  }
  .searchbar {
    padding-right: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .searchbar input {
    width: 100%;
  }
}
