.banner img {
  width: 100%;
  height: 450px;
  margin-top: 3.5rem;
}
.banner_content {
  position: absolute;
  color: #fff;
  top: 7rem;
  width: 40%;
  padding-left: 1.5rem;
  font-weight: 550;
}
.banner_title {
  line-height: 2rem;
}
.banner_descr {
  line-height: 1.5rem;
  font-size: large;
}
.banner button {
  background-color: #fff;
  color: #000;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: 1000;
  border: none;
  padding: 0.5rem 3rem;
  transition: 0.5s;
}

.banner button:hover {
  background-color: red;
  color: #fff;
}
.banner_fade {
  width: 100%;
  height: 500px;
  background-color: black;
}
