.banner img {
  width: 100%;
  height: 450px;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
}
.banner_content {
  position: absolute;
  color: #fff;
  top: 7rem;
  width: 40%;
  margin-left: 1.5rem;
  font-weight: 550;
}
.banner_title {
  line-height: 2rem;
}
.banner_descr {
  line-height: 1.5rem;
  font-size: large;
}
.banner_btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.banner_btns button {
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #000;
  margin-top: 2rem;
  cursor: pointer;
  font-weight: 1000;
  border: none;
  /* padding: 0.5rem 3rem; */
  height: 2.5rem;
  width: 10rem;
  transition: 0.5s;
  text-transform: uppercase;
  text-decoration: none;
}

.banner_btns button:hover {
  background-color: red;
  color: #fff;
}
.banner_fade {
  position: absolute;
  width: 100%;
  height: 5rem;
  background-image: linear-gradient(180deg, transparent, rgb(0, 0, 0));
  top:27rem;
}

@media screen and (max-width: 500px) {
  .banner_content {
    text-align: center;
    top: 5.5rem;
    width: 90%;
    margin: 0 1rem;
  }
  .banenr_title {
    font-size: 1rem;
  }
  .banner_btns{
    align-items: center;
    flex-direction: column;
}
  .banner_btns button{
    margin-top: 1rem;
  }
  .banner_fade{
    top:30rem;
    height: 2rem;
  }
}